* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}


.topo {
background-color: black;
color: #fff;
padding: 15px;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-size: 26px;
font-weight: bold;
}

.menu {
display: flex;
gap: 20px;
}

.menu div {
cursor: pointer;
}


.banner {
background-color: aliceblue;
color: black;
padding: 20px;
font-size: 22px;
font-weight: bold;
}

.conteudo {
display: flex;
gap: 20px;
padding: 20px;

}


.principal {
width: 70%;
}

.imagem-principal {
background-color: aliceblue;
height: 180px;
margin-bottom: 30px;
}

.categoria {
color: floralwhite;
font-weight: bold;
margin-bottom: 10px;
}

.titulo {
font-size: 28px;
font-weight: bold;
margin-bottom: 10px;
}

.texto {
font-size: 16px;
color: #333;
}


.lateral {
width: 30%;
background-color: white;
color: black;
}

.lateral-titulo {
font-size: 45px;
font-weight: bold;
margin-bottom: 50px;
}

.lateral-item {
margin-bottom: 10px;
cursor: pointer;
}
body{
    padding: 0x;
    margin: 0px;
}